<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<tapsys>
				<active>1</active>
				<model>Tapsys\Checkout\Model\Payment\Tapsys</model>
				<title>Tapsys</title>
				<sandbox>0</sandbox>
				<allowspecific>0</allowspecific>
				<sort_order>10</sort_order>
				<order_status>pending_payment</order_status>
				<group>offline</group>
			</tapsys>
		</payment>
	</default>
</config>
